<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>NSG</name>
  <standard>
    <name>NSG WMTS 1.0 Profile</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/nsg/wmts</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${version}</local-name>
        <title>NSG WMTS 1.0 Conformance Test Suite</title>
        <description>Checks implementations for conformance to the NSG WMTS 1.0 profile.</description>
      </suite>
      <revision>
        <name>${project.version}</name>
        <status>Beta</status>
        <sources>
          <source>${ets-code}/${spec-version}/ctl</source>
        </sources>
        <webdir>${ets-code}/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
