<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>NSG</name>
  <standard>
    <name>NSG DGIWG WMTS Profile</name>
    <version>
      <name>1.0_NSG</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/dgiwg/wmts</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-ets-wmts10-0.1-SNAPSHOT</local-name>
        <title>NSG WMTS Conformance Test Suite</title>
        <description>Checks implementations for conformance to the NSG DGIWG WMTS profile.</description>
      </suite>
      <revision>
        <name>0.1-SNAPSHOT</name>
        <status>Delta</status>
        <sources>
          <source>ets-wmts10/1.0_NSG/ctl</source>
        </sources>
        <webdir>ets-wmts10/1.0_NSG/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
